*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: azure; */
    cursor: grabbing;
    }
    
    .container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    
    }
    .container span{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    min-width: 100px;
    }
    
    .container span::before {
        content: "";
        position: absolute;
        background-image: url("../img/exo.jpeg");
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        transition: 20s;
        opacity: 0;
        pointer-events: none;
        width: 100%;
        height: 100%;
        clip-path: polygon(50% 0%, 100% 35%, 85% 86%, 50% 100%, 15% 86%, 0% 35%);
        }
    
    .container span:hover::before{
    transition: 0s;
    opacity: 1;
    width: 100%;
    height: 100%;
    }
